<div class="max-w-7xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-extrabold text-blue-600 mb-4 text-center">Your Car Wash Orders</h1>
    <div class="bg-gradient-to-br from-blue-50 to-white py-6">
        <div class="max-w-6xl mx-auto px-2">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
                <!-- Feature 1 -->
                <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://cdn-icons-png.flaticon.com/512/9343/9343066.png" alt="Eco Products"
                        class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Add Your Car</h3>
                    <p class="text-gray-600">You can Add Car Details:</p>
                    <a (click)="onClickAddCar()"
                        class="inline-block bg-green-700 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Add Car
                    </a>
                </div>

                <!-- Feature 2 -->
                <!-- <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtqrTGQ4rnQYfAVBowjZkWhZIFVVWIEXRVkw&s"
                        alt="Flexible Schedule" class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Get Promo Code</h3>
                    <p class="text-gray-600">Get PromoCode for low price car wash</p>
                    <a (click)="onClickPromoCode()"
                        class="inline-block bg-red-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Get Now
                    </a>
                </div> -->
                <!-- Feature 3 -->
                <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://img.freepik.com/premium-photo/place-order-button-3d-illustration_115990-13722.jpg"
                        alt="Flexible Schedule" class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Place Order</h3>
                    <p class="text-gray-600">Place Order to wash your car.</p>
                    <a (click)="onClickOrderPlace()"
                        class="inline-block bg-yellow-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Order now
                    </a>
                </div>
                <!-- Feature 4 -->
                <!-- <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://www.shutterstock.com/image-vector/check-car-logo-template-vector-600nw-1831565800.jpg"
                        alt="Flexible Schedule" class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Check Car Status</h3>
                    <p class="text-gray-600">Check Your Car wash Status</p>
                    <a (click)="onClickNotFound()"
                        class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Pay Now
                    </a>
                </div> -->
                <!-- Feature 5-->
                <!-- <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://img.freepik.com/free-vector/check-mark-with-review-stars_78370-1123.jpg"
                        alt="Flexible Schedule" class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Rating</h3>
                    <p class="text-gray-600">Give Rating To Washer or App</p>
                    <a (click)="onClickNotFound()"
                        class="inline-block bg-pink-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Rate Us!
                    </a>
                </div> -->
                <!-- Feature 6 -->
                <div
                    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center text-center hover:scale-105 transition-transform duration-300">
                    <img src="https://cdn1.vectorstock.com/i/1000x1000/60/45/addon-rubber-stamp-vector-13186045.jpg"
                        alt="Flexible Schedule" class="mb-4 w-20 h-20" />
                    <h3 class="text-xl font-semibold mb-2 text-blue-600">Order AddOn's</h3>
                    <p class="text-gray-600">Get Extra Addon's To Wash Services.</p>
                    <a (click)="onClickOrderAddon()"
                        class="inline-block bg-orange-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300">
                        Order now
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>
  